<section class="banner_area" style="background: url(../media/201j0af5/banner1.jpg) no-repeat scroll center left;">
  <div class="container">
    <div class="row banner_inner">
      <div class="col-lg-5"></div>
      <div class="col-lg-7">
        <div class="banner_content text-center">
          <h2>Blog Post Details</h2>
          <div class="page_link">
            <a href="index.html">Home</a>
            <a href="single-blog.html">Post Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
