@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>@homePage.SiteName | @Model.Value("title")</title>